<div class="container">
    <nav class="p-2 my-2 border border-info" *ngIf="authenticationService.hasRole('ADMIN')">
        <button class="btn btn-outline-info" (click)="handleAddPatient()">
            New Patient <i class="bi bi-person-fill-add"></i>
        </button>
    </nav>
    <ng-template #errors>
        <div class="text-danger">
            {{errorMessage}}
        </div>
    </ng-template>
    <div class="card mt-2">
        <div class="card-header">
            <h3>Patient List</h3>
        </div>
        <div class="card-body" *ngIf="patients; else errors">
            <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchPatients()">
                <div class="input-group">
                    <label class="input-group-text">Keyword:</label>
                    <input type="text" class="form-control" formControlName="keyword" />
                    <button class="btn btn-info">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of patients">
                        <td>{{p.name}}</td>
                        <td>{{p.age}}</td>
                        <td>
                            <i *ngIf="p.active==true" class="bi bi-check-circle-fill text-success"></i>
                            <i *ngIf="p.active==false" class="bi bi-x-circle-fill text-danger"></i>
                        </td>
                        <td *ngIf="authenticationService.hasRole('ADMIN')">
                            <button (click)="handleActivate(p.id)" class="btn"
                                [ngClass]="p.active==true?'btn-danger':'btn-success'">
                                <span *ngIf="p.active==true">Deactivate</span>
                                <span *ngIf="p.active==false">Activate</span>
                            </button>
                        </td>
                        <td *ngIf="authenticationService.hasRole('ADMIN')">
                            <button class="btn btn-secondary" (click)="handleEditPatient(p.id)">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </td>
                        <td *ngIf="authenticationService.hasRole('ADMIN')">
                            <button (click)="handleDelete(p.id)" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li *ngFor="let item of [].constructor(this.totalPages);let i=index">
                  <a (click)="goToPage(i)" [ngClass]="i==currentPage?'btn-info':'btn-outline-info'" class="btn ms-1 mt-1">{{i+1}}</a>
                </li>
              </ul>
        </div>
    </div>
</div>